# Python 캐시 파일
__pycache__/
*.py[cod]

# 맥 시스템 파일
.DS_Store

# 파이썬 가상환경 (도커를 쓰므로 로컬 가상환경은 무시)
.venv/
venv/
env/

# 유니티 임시 파일 (혹시 프로젝트가 섞여 있다면)
[Library]/
[Temp]/
[Obj]/

# 환경 설정 및 비밀번호 (나중에 생길 수 있음)
.env